<section class="block container">
  <header class="block__header">
    <h2 class="feature-header">Host on the cloud to keep grwing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, hic?
    </p>
  </header>
  <article class="grid grid--1x2 feature__content">
    <div class="feature__block">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature-header">Super easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, sequi.
        Vel cupiditate dignissimos qui ea modi laboriosam excepturi, sequi
        veniam laudantium deserunt soluta, nulla temporibus, dolores quos vitae
        deleniti? Laboriosam.
      </p>
      <a href="#" class="Link-arrow">Learn More</a>
    </div>
    <img class="feature--image" src="images/easy.jpg" alt="" />
  </article>
  <article class="grid grid--1x2 feature__content">
    <img class="feature--image" src="images/fast.jpg" alt="" />
    <div class="feature__block">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature-header">Simply fast websites</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, sequi.
        Vel cupiditate dignissimos qui ea modi laboriosam excepturi, sequi
        veniam laudantium deserunt soluta, nulla temporibus, dolores quos vitae
        deleniti? Laboriosam.
      </p>
      <a href="#" class="Link-arrow">Learn More</a>
    </div>
  </article>
  <article class="grid grid--1x2 feature__content">
    <div class="feature__block">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="Images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature-header">Super easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, sequi.
        Vel cupiditate dignissimos qui ea modi laboriosam excepturi, sequi
        veniam laudantium deserunt soluta, nulla temporibus, dolores quos vitae
        deleniti? Laboriosam.
      </p>
      <a href="#" class="Link-arrow">Learn More</a>
    </div>
    <img class="feature--image" src="images/wordpress.jpg" alt="" />
  </article>
</section>
