<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="Images/testimonial.jpg" alt="A happy smiling customer" />
      <span class="icon-container icon-container--accent">
        <img class="icon icon--small" src="Images/quotes.svg" alt="" />
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsum
        dolore rerum iusto maxime sunt a nulla distinctio, corrupti vero.
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="Images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Jone Smith</h3>
            <p class="qutoe__organization">ABC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>

<section class="block">
  <header class="block__header">
    <h2>What our Customers are Saying</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore,
      doloremque sed! Explicabo voluptatum pariatur omnis veritatis
      reprehenderit ad laborum eos.
    </p>
  </header>
  <div class="card testimonial container">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img src="Images/testimonial.jpg" alt="A happy smiling customer" />
        <span class="icon-container icon-container--accent">
          <img class="icon icon--small" src="Images/quotes.svg" alt="" />
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          ipsum
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="Images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Jone Smith</h3>
              <p class="qutoe__organization">ABC Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
