<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsum
    dolore rerum iusto maxime sunt a nulla distinctio, corrupti vero.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="Images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jone Smith</h3>
        <p class="qutoe__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
