--root {
  --color-primary: #2584ff;
  --color-socuendray: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/*Topography*/
html {
  font-size: 62.5%; /* 10px */
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/*Links*/

a {
  text-decoration: none;
}

.Link-arrow {
  color: #ff3400;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.Link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.Link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .Link-arrow {
    font-size: 1.5rem;
  }
}

/*Badges*/

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: #1b0760;
  color: #fff;
}

.badge--secondary {
  background-color: #00d9ff;
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/*lists*/

.list {
  list-style: none;
  padding-left: 0;
  color: #1b0760;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../Images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/*icons*/

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: #00d9ff;
}

.icon-container {
  background-color: #f3faf9;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
/*buttons*/

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-size: 600;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}
.btn--primary {
  background-color: #1b0760;
  color: #fff;
}
.btn--primary:hover {
  background-color: #35217e;
}
.btn--secoundray {
  background-color: #00d9ff;
  color: #fff;
}
.badge--secondary:hover {
  background-color: #1e7f91;
}
.btn--accent {
  background-color: #ff3400;
  color: #fff;
}

.btn--block {
  display: inline-block;
  width: 100%;
}
.btn--outline {
  background-color: #fff;
  color: #1b0760;
  border: 2px solid #1b0760;
}
.btn--outline:hover {
  background-color: #1b0760;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*inputs*/

.input {
  outline: none;
  padding: 1.5rem 2.5rem;
  border: 2px solid #ccc;
  color: #2584ff;
  border-radius: 30px;
  font-size: 2rem;
}

.input-group {
  border: 1px solid #ccc;
  border-radius: 30px;
  display: flex;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
}
.input-group .btn {
  margin: 4px;
}
::placeholder {
  color: #cdcbd7;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.4rem;
  }
}
